* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --amarillo: #ffaa00;
  --azul: #0097b2;
  --azul-oscuro: #1755a6;
  --verde: #29551b;
  --rosa-claro: #f5ceff;
  --morado-claro: #94a2eb;
  --violeta-claro: #c1abed;
  --violeta: #cb6ce6;
  --rojo: #ff0000;
}

html {
  scroll-behavior: smooth;
  color-scheme: dark;
  font-size: 18px;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  text-align: left;
  font-family: cursive;
}

body {
  height: 100vh;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: .5em;
}
main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

section {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}

.btn {
  color: #000;
  padding: .75em 5em;
  background: rgb(27,182,203);
  border-radius: 5em;
  border: solid 3px #fff;
  font-weight: bold;
  display: block;
  font-size: 1em;
}
h1 {
  padding: .75em 1em;
  background-color: #000;
  border-radius: .5em;
  text-transform: uppercase;
  max-width: 70%;
  text-align: center;
}
input {
  color-scheme: light;
  border: solid 3px #fff;
  outline: none;
  padding: .75em 2em;
  background-color: var(--amarillo);
  color: #000;
  border-radius: 2em;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  opacity: .8;
}

input::placeholder {
  color: #000;
}

header {
  width: 100%;
  display: grid;
  align-items: center;
}

header h1 {
  width: max-content;
  justify-self: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  justify-self: flex-start;
}

nav button {
  padding: .6em 1em;
  background-color: var(--azul-oscuro);
  border-radius: 3em;
  display: grid;
  border: none;
  place-content: center;
}	

nav button img{
  width: 30px;
}

footer {
  position: sticky;
  bottom: 0;
  left: 0;
}