---
// Component imports
import { Layout } from "@globals"
if (!Astro.cookies.has("usuario")) {
  // redirect using Response
  return new Response("", {
    status: 302, // redirect
    headers: {
      Location: "/iniciar-sesion"
    }
  })
}
---

<Layout title="Panel admin" bg="/5.png">
  <section>
    <header>
      <h1>Admin</h1>
      <nav>
        <button onclick="history.back()">
          <img src="/back.svg" alt="back icon" />
        </button>
      </nav>
    </header>
    <div class="links">
      <a class="btn" href="/agregar-mascota">Agregar mascota</a>
      <a class="btn" href="/eliminar-mascota">Eliminar mascota</a>
      <a class="btn" href="/solicitudes">Solicitudes de adopción</a>
    </div>
  </section>
</Layout>

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
  }
  .links a {
    background: linear-gradient(
      90deg,
      rgba(135, 83, 236, 1) 0%,
      rgba(102, 213, 220, 1) 100%
    );
    padding: 1em 2em;
  }
</style>
