---
// Component imports
import { Layout } from "@globals"
if (!Astro.cookies.has("usuario")) {
  // redirect using Response
  return new Response("", {
    status: 302, // redirect
    headers: {
      Location: "/iniciar-sesion"
    }
  })
}
---

<Layout title="Estado" bg="/2.png">
  <section>
    <h1>Estado</h1>
    <form action="">
      <button disabled class="btn">En proceso</button>
      <button disabled class="btn">Completado</button>
    </form>
    <footer>
      <a href="/" class="btn menu">Menu principal</a>
      <a href="/comunidad" class="btn comunidad">Comunidad</a>
    </footer>
  </section>
</Layout>

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    justify-content: space-around;
  }
  form {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    gap: 1em;
  }

  form button.btn {
    background-color: var(--amarillo);
    padding-block: 0.75em;
    opacity: 0.8;
  }

  footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  footer a {
    padding: 1em 1.5em !important;
  }

  .menu {
    color: #fff;
  }

  .comunidad {
    background-color: var(--verde);
    color: #fff;
  }
</style>
