---
// Component imports
import { Layout } from "@globals"
if (!Astro.cookies.has("usuario")) {
  // redirect using Response
  return new Response("", {
    status: 302, // redirect
    headers: {
      Location: "/iniciar-sesion"
    }
  })
}
---

<Layout title="Mascotas" bg="/7.jpg">
  <section>
    <header>
      <h1>Mascotas</h1>
      <nav>
        <a href="/"> <img src="/back.svg" alt="back icon" /></a>
      </nav>
    </header>

    <div class="contenedor">
      <table>
        <thead>
          <tr>
            <th>Foto</th>
            <th>Color</th>
            <th>Raza</th>
            <th>Tama単o</th>
            <th>Opcion</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <img src="/2.png" alt="Perro" />
            </td>
            <td>Blanco</td>
            <td>Chihuahua</td>
            <td>Peque単o</td>
            <td>
              <button>Seleccionar</button>
            </td>
          </tr>
          <tr>
            <td>
              <img src="/2.png" alt="Perro" />
            </td>
            <td>Blanco</td>
            <td>Chihuahua</td>
            <td>Peque単o</td>
            <td>
              <button>Seleccionar</button>
            </td>
          </tr>
          <tr>
            <td>
              <img src="/2.png" alt="Perro" />
            </td>
            <td>Blanco</td>
            <td>Chihuahua</td>
            <td>Peque単o</td>
            <td>
              <button>Seleccionar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="otros">
      <a href="/" class="btn menu">Menu principal</a>
      <a href="/adopcion" class="btn contacto">Adopcon</a>
    </div>
  </section>
</Layout>

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  table {
    width: 100%;
    table-layout: fixed;
  }

  th,
  td {
    font-size: 0.8em;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }

  tr th {
    background-color: var(--amarillo);
    padding: 0.5em 1em;
    border: solid 2px #fff;
    color: #000;
  }

  tbody tr {
    opacity: 0.8;
    background-color: #fff;
    padding: 0.5em 1em;

    color: #000;
  }
  tbody tr td {
    border: solid 3px var(--rosa-claro);
  }

  tr > td:nth-child(5) {
    color: red;
  }

  td img {
    width: 100%;
    max-width: 80px;
    max-height: 80px;
    aspect-ratio: 1;
    object-fit: cover;
  }

  .otros {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .otros a {
    padding-inline: 1em;
    color: var(--blanco);
  }
  .contacto {
    background-color: var(--verde) !important;
  }
  .menu {
    background-color: var(--azul) !important;
  }
</style>
