---
// Component imports
import { Layout } from "@globals"
---

<Layout title="Registros" bg="/1.jpg">
  <section>
    <header>
      <h1>Registro</h1>
      <nav>
        <button onclick="history.back()">
          <img src="/back.svg" alt="back icon" />
        </button>
      </nav>
    </header>
    <form action="">
      <input type="text" placeholder="Nombre" name="nombre" />
      <input type="text" placeholder="Apellido Paterno" name="apellido_1" />
      <input type="text" placeholder="Apellido Materno" name="apellido_2" />
      <input type="email" placeholder="Correo" name="correo" />
      <input type="password" placeholder="Contraseña" name="contrasena" />
      <button class="btn">Aceptar</button>
    </form>
  </section>

  <script>
    import fetcher from "src/api"

    const form = document.querySelector("form")
    form.addEventListener("submit", async (e) => {
      e.preventDefault()
      const formData = new FormData(form)
      const data = Object.fromEntries(formData)
      const json = await fetcher("/api/registro", data)
      console.log(json)
    })
  </script>
</Layout>

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    justify-content: space-around;
  }
  form {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    gap: 1em;
  }

  button.btn {
    background-color: var(--amarillo);
    padding-inline: 2em;
    width: fit-content;
    border-color: var(--azul-oscuro);
  }
</style>
