---
// Component imports
import { Layout } from "@globals"
---

<Layout title="Solicitudes" bg="/6.jpg">
  <section>
    <header>
      <h1>Solicitudes</h1>
      <nav>
        <a href="/eliminar-mascota"><img src="/back.svg" alt="back icon" /></a>
      </nav>
    </header>
    <div class="contenedor">
      <table>
        <thead>
          <tr>
            <th>Solicitante</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Emilio Perez Gonzales</td>
            <td>
              <div class="opciones">
                <button>Aceptar</button>
                <button>Eliminar</button>
              </div>
            </td>
          </tr>
          <tr>
            <td>Chihuahua</td>
            <td>
              <div class="opciones">
                <button>Aceptar</button>
                <button>Eliminar</button>
              </div>
            </td>
          </tr>
          <tr>
            <td>Chihuahua</td>
            <td>
              <div class="opciones">
                <button>Aceptar</button>
                <button>Eliminar</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <footer>
      <a href="/" class="btn menu">Menu principal</a>
    </footer>
  </section>
</Layout>

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    justify-content: space-around;
  }

  table {
    width: 100%;
    table-layout: fixed;
  }

  th,
  td {
    font-size: 0.8em;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }

  tr th {
    background-color: var(--amarillo);
    padding: 0.5em 1em;
    border: solid 2px #fff;
    color: #000;
  }

  tbody tr {
    opacity: 0.8;
    padding: 0.5em 1em;
    color: #000;
  }

  tbody tr td:nth-child(odd) {
    border: solid 3px var(--rosa-claro);
    background-color: #fff;
  }

  tbody tr td:nth-child(even) {
    background-color: transparent;
  }

  tr .opciones {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.2em;
  }

  .opciones button {
    border: solid 3px var(--rosa-claro) !important;
    background-color: #fff !important;
  }

  .opciones button:nth-child(odd) {
    color: var(--azul-oscuro);
  }
  .opciones button:nth-child(even) {
    color: var(--rojo);
  }

  .contenedor button {
    background-color: var(--morado-claro);
    border: solid 3px #fff;
    color: #000;
    display: block;
    padding: 1em;
    width: 100%;
  }
  footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  footer a {
    padding: 1em !important;
  }

  .menu {
    color: #fff;
  }
</style>
